
<ion-header>
    <ion-navbar color = "secondary">
      <ion-title>Closed Trades</ion-title>
    </ion-navbar>
    <ion-toolbar no-border-top>
      <ion-segment [(ngModel)]="tickers">
        <ion-segment-button value = 'equityTickers'>
          Equity
        </ion-segment-button>
        <ion-segment-button value = 'forexTickers'>
          Forex
        </ion-segment-button>
        <ion-segment-button value = 'cryptoTickers'>
          Crypto
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <div [ngSwitch]="tickers">
        <ion-list *ngSwitchCase="'equityTickers'">
          <ion-item *ngFor="let equityTicker of equityTickers" ion-item (click)="equityTickerTapped($event, equityTicker)">
              <ion-grid>
                  <ion-row>
                    <ion-col col-2>
                        <ion-badge color = "badge">{{equityTicker.count}}</ion-badge>
              </ion-col>
              <ion-col>
                {{equityTicker.name}}
              </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>

        <ion-list *ngSwitchCase="'forexTickers'">
            <ion-item *ngFor="let forexTicker of forexTickers" ion-item (click)="forexTickerTapped($event, forexTicker)">
                <ion-grid>
                    <ion-row>
                      <ion-col col-2>
                          <ion-badge color = "badge">{{forexTicker.count}}</ion-badge>
                </ion-col>
                <ion-col>
                  {{forexTicker.name}}
                </ion-col>
                </ion-row>
                </ion-grid>
              
            </ion-item>
          </ion-list>

      <ion-list *ngSwitchCase="'cryptoTickers'">
        <ion-item *ngFor="let cryptoTicker of cryptoTickers" ion-item (click)="cryptoTickerTapped($event, cryptoTicker)">
            <ion-grid>
                <ion-row>
                  <ion-col col-2>
                      <ion-badge color = "badge">{{cryptoTicker.count}}</ion-badge>
            </ion-col>
            <ion-col>
              {{cryptoTicker.name}}
            </ion-col>
            </ion-row>
            </ion-grid>
          
        </ion-item>
        </ion-list>

      </div>
</ion-content>
