
<ion-header>

  <ion-navbar color = "secondary">
    <ion-title>Symbols</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list-header text-center>Equities</ion-list-header>
      </ion-col>
      <ion-col>  
        <ion-list-header text-center>Crypto</ion-list-header>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let equityTicker of equityTickers" ion-item (click)="equityTickerTapped($event, equityTicker)">
            {{equityTicker.name}}
          </ion-item>
        </ion-list>
      </ion-col>

    <ion-col>
      <ion-list>
        <ion-item *ngFor="let cryptoTicker of cryptoTickers" ion-item (click)="cryptoTickerTapped($event, cryptoTicker)">
        {{cryptoTicker.name}}
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
