
@font-face {
    font-family: lcd;
    font-style: normal;
    font-weight: 300;
    src: local("lcd"), url("www/assets/fonts/lcd.woff2") format("woff2"), url("www/assets/fonts/lcd.woff2/lcd.woff") format("woff"), url("www/assets/fonts/lcd.woff2/lcd.ttf") format("truetype");
  }