
<ion-header>

    <ion-navbar color = "secondary">
      <ion-title text-center>{{ticker.name}}</ion-title>
    </ion-navbar>

  </ion-header>
    <ion-content>
<ion-grid>
    <ion-row>
        <ion-col>
          <span class = "ion-heading">Trades</span><br>
          <span class = "ion-content">{{count}}</span>
        </ion-col>
        <ion-col>
            <span class = "ion-heading">Profitable</span><br> 
            <span class = "ion-content">{{tradeProfitable}}%</span>
        </ion-col>
        <ion-col>
            <span class = "ion-heading">Profit</span><br>
            $<span class = "ion-content" [ngStyle]="{'font-weight': 'bold', 'color': tradeProfit >= 0 ? 'green' : 'red'}">{{tradeProfit}}</span>
          </ion-col>
      </ion-row>
  </ion-grid>

  <ion-content>
      <ion-list inset>
        <ion-item *ngFor="let equityTickerTrade of equityTickerTrades" ion-item (click)="tradeTapped($event, equityTickerTrade)">
        <h5>{{equityTickerTrade.direction}}
            {{equityTickerTrade.ticker}}
            <span [ngStyle]="{'font-weight': 'bold', 'color': equityTickerTrade.percentChange >= 0 ? 'green' : 'red'}">{{equityTickerTrade.percentChange}}%</span> </h5> 
        </ion-item>
        
      </ion-list>  
      <ion-list inset>
        <ion-item *ngFor="let cryptoTickerTrade of cryptoTickerTrades" ion-item (click)="tradeTapped($event, cryptoTickerTrade)">
        <h5>{{cryptoTickerTrade.direction}}
            {{cryptoTickerTrade.ticker}}
            <span [ngStyle]="{'font-weight': 'bold', 'color': cryptoTickerTrade.percentChange >= 0 ? 'green' : 'red'}">{{cryptoTickerTrade.percentChange}}%</span> </h5> 
        </ion-item>
      </ion-list>  

      <ion-list inset>
        <ion-item *ngFor="let forexTickerTrade of forexTickerTrades" ion-item (click)="tradeTapped($event, forexTickerTrade)">
        <h5>{{forexTickerTrade.direction}}
            {{forexTickerTrade.ticker}}
            <span [ngStyle]="{'font-weight': 'bold', 'color': forexTickerTrade.percentChange >= 0 ? 'green' : 'red'}">{{forexTickerTrade.percentChange}}%</span>  </h5>
        </ion-item>
      </ion-list>  
  
  </ion-content>