
<ion-header>

  <ion-navbar color = "secondary">
    <ion-title>Open Trades</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-grid>
        <ion-row>
          <ion-col>
              <ion-list-header text-center>Equity Trades</ion-list-header>
          </ion-col>
          <ion-col>
              <ion-list-header text-center>Crypto Trades</ion-list-header>
          </ion-col>
        </ion-row>
        </ion-grid>
<ion-content>
        <ion-grid>
        <ion-row>
          <ion-col>
              <ion-list-header [ngStyle]="{'font-size': '9px'}">Long</ion-list-header>
              <ion-item *ngFor="let equityLong of equityLong" (click)="openTradeTapped($event, equityLong)">
                  <h5>{{equityLong.ticker}} - 
                  {{equityLong.strategy1}}</h5>
                  </ion-item>


              <ion-list-header [ngStyle]="{'font-size': '9px'}">Short</ion-list-header>    
              <ion-item *ngFor="let equityShort of equityShort" (click)="openTradeTapped($event, equityShort)">
                      <h5>{{equityShort.ticker}} - 
                      {{equityShort.strategy1}}</h5>
                      </ion-item>
          </ion-col>
          <ion-col>
              <ion-list-header [ngStyle]="{'font-size': '9px'}">Long</ion-list-header>
              <ion-item *ngFor="let cryptoLong of cryptoLong" (click)="openTradeTapped($event, cryptoLong)">
                  <h5>{{cryptoLong.ticker}} - 
                  {{cryptoLong.strategy1}}</h5>
            </ion-item>


            <ion-list-header [ngStyle]="{'font-size': '9px'}">Short</ion-list-header>    
            <ion-item *ngFor="let cryptoShort of cryptoShort" (click)="openTradeTapped($event, cryptoShort)">
                    <h5>{{cryptoShort.ticker}} - 
                    {{cryptoShort.strategy1}}</h5>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

</ion-content>
